<nav class="navbar bg navbar-expand-lg fixed-top" style="background-color: rgba(29, 209, 161,1);">
    <div class="container">
        <div class="navbar-translate ">

          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="back()">
            <i style="font-size:20px;color:white;" class="fa">&#xf060;</i>
          </button>
          <span style="font-size: large;font-weight: 500;color: white;margin-left: 100px;" class="text-center">{{page}}</span>
        </div>
       
    </div>
</nav>
<br><br><br>


