<mat-card style="background-color: white;">
    <div class="row">
        <div matRipple matRippleColor="" class="col-4 col-sm-4">
            <a routerLink="/service/service/customRepair">
                <img src="../../../assets/services/carAcRepair.svg">
                <p>Custom Repair</p>
            </a>

        </div>
        <div matRipple matRippleColor="" class="col-4 col-sm-4">
            <a routerLink="/service/service/dentingPainting">
                <img src="../../../assets/services/dentingPainting.svg">
                <p>Denting Painting</p>
            </a>
        </div>
        <div matRipple matRippleColor="" class="col-4 col-sm-4">
            <a routerLink="/service/service/insuranceServices">
                <img src="../../../assets/services/insuranceServices.svg">
                <p>Insurance Services</p>
            </a>

        </div>
        <div matRipple matRippleColor="" class="col-4 col-sm-4">
            <a routerLink="/service/service/cleaningDetailing">
                <img src="../../../assets/services/cleaningDetailing.svg">
                <p>Cleaning & Detailing</p>
            </a>

        </div>
        <div matRipple matRippleColor="" class="col-4 col-sm-4">
            <a routerLink="/service/service/tyreWheel">
                <img src="../../../assets/services/wheelRimCare.svg">
                <p>Tyres & Wheel Care</p>
            </a>


        </div>
        <div matRipple matRippleColor="" class="col-4 col-sm-4">
            <a routerLink="/service/service/battery">
                <img src="../../../assets/services/battery.svg">
                <p class="ml-4">Battery</p>
            </a>

        </div>
        <div matRipple matRippleColor="" class="col-4 col-sm-4 ml-5">
            <a routerLink="/service/service/acRepair">
                <img src="../../../assets/services/carAcRepair.svg">
                <p>Car Ac Repair</p>
            </a>

        </div>
        <div matRipple matRippleColor="" class="col-4 col-sm-4 ml-4">
            <a routerLink="/service/service/scheduleService">
                <img src="../../../assets/services/scheduledServices.svg">
                <p>Scheduled Services</p>
            </a>

        </div>
        <div matRipple matRippleColor="" class="col col-sm">

        </div>
    </div>
</mat-card>