<div class="heading-top"><span></span>
    <h1><b>How we work?</b></h1>
</div>
<br>
<div class="section-body">
  

    <div class="row" id="wrapper">
        <div class="col-2 text-center">
            <div class="circle"></div>
            <div class="line-1"></div>
        </div>
        <div class="col-10">
            <div class="row"><i class="fa fa-car how-we-work-icon" aria-hidden="true"
                style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h2 class="text-center" style="font-weight: 200;">Select Your
                Service</h2>
        </div>
        </div>
    </div>

    <div class="row" id="wrapper">
        <div class="col-2 text-center">
            <div class="circle"></div>
            <div class="line-1"></div>
        </div>
        <div class="col-10">
            <div class="row"><i class="fa fa-calendar how-we-work-icon"
                    style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h2 class="text-center" style="font-weight: 200;">Schedule
                    Service</h2>
            </div>
        </div>
    </div>
    <div class="row" id="wrapper">
        <div class="col-2 text-center">
            <div class="circle"></div>
            <div class="line-1"></div>
        </div>
        <div class="col-10">
            <div class="row"><i class="fa fa-wrench how-we-work-icon"
                    style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h2 class="text-center" style="font-weight: 200;">Get Repairs
                </h2>
            </div>
        </div>
    </div>
</div>