<div class="heading-top"><span></span><h1><b>We provide</b></h1></div>
<table class="features table table-responsive">
  <td class="text-center">
      <i class="fa fa-trophy"></i><p class="ititile">Quality<br>Services</p>
  </td>
  <td class="text-center">
      <i class="fa fa-cog"></i><p class="ititile">Genuine<br>Parts</p>
  </td>
  <td class="text-center">
      <i class="fa fa-black-tie"></i><p class="ititile">Professional<br>Services</p>
  </td>
  <td class="text-center">
      <i class="fa fa-map-marker"></i><p class="ititile">pickup &<br>Drop</p>
  </td>                
</table>