<body>
    <app-header page="Order Details"></app-header>
        <div class="container mt-2">

                <div class="border rounded-sm position-relative p-2">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="mr-auto">
                            <h3 class="mb-0" style="font-weight: 600;">Kadir Sheikh , 7972112804</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <p style="font-size: x-small;color: gray;">SERVICE DETAILS</p>
                            <p style="font-size: small;font-weight: 600;">12:00 pm - 4:00 pm</p>
                            <p style="font-size: small;font-weight: 600;">17 Jan, 2021</p>
                        </div>
                        <div class="">
                            <p style="font-size: x-small;color: gray;">PENDING AMOUNT</p>
                            <p style="font-size: small;font-weight: 600;">Rs 500</p>
                        </div>
                       
                    </div>

                   
                    <hr>
                    <p style="font-size: small;color: gray;font-weight: 600;">Service booked on 17 Jan, 2021</p>
                    <div class="row">
                        <div class="col-4">
                            <button mat-stroked-button disabled style="background-color: #f1f2f6;color: #e15f41;">NOT
                                SERVICED</button>
                        </div>&nbsp;
                        <div class="col-4">
                            <button mat-stroked-button disabled style="background-color: #f1f2f6;color: #e15f41;">NOT
                                PAID</button>
                        </div>
                    </div>
                </div>
                 <br>

                <div class="border rounded-sm position-relative p-2">
                    
                            <b class="font-weight-bold mb-2">Service Details</b>
                            <div class="d-flex justify-content-between">
                                <div class="">
                                    <p style="font-size: small;color: gray;">Battery Service &#10005; 1</p>
                                </div>
                                <div class="">
                                    <p style="font-size: small;color: gray;">Rs 500</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="">
                                    <p style="font-size: small;color: gray;">Service Cost</p>
                                </div>
                                <div class="">
                                    <p style="font-size: small;color: gray;">Rs 500</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="">
                                    <p style="font-size: small;color: gray;">Total Pending</p>
                                </div>
                                <div class="">
                                    <p style="font-size: small;color: gray;">Rs 500</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="">
                                    <p style="font-size: small;color: gray;">Payment Method</p>
                                </div>
                                <div class="">
                                    <p style="font-size: small;color: gray;">---</p>
                                </div>
                            </div>
                            <hr>
                        </div>
            
        </div>
        <!-- <br><br><br>
        <div matRipple id="footer">
            <div class="col-12">
                <center>
                    <button mat-button style="background-color:rgba(29, 209, 161,1);color: white;padding: 8px 25px;margin-top: 7px;">View Service Status</button>&nbsp;
                <button mat-button style="background-color:rgba(29, 209, 161,1);color: white;padding: 8px 10px;margin-top: 7px;">Send Service Confirmation</button> 
                </center>
                
            </div>
            
        </div> -->
   
        
    
</body>